<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../public/styling/deletthis.css"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />

    <title>Travel Destinations</title>
  </head>
  <body>
    <section id="navigation">
      <button id="home">Home</button>
      <button id="signUpBtn">Sign up</button>
      <button id="create">Create</button>
      <button id="logInBtn">Log in</button>
      <button id="logOutBtn">Log out</button>
    </section>
    <h1>Here will be the list of all the travel destinations</h1>
    <div class="dest-list"></div>

    <template id="destination-card">
      <div class="mini-card" id="temp">
        <h3>
          <span id="nameDestination"></span>
          <span id="locationDestination"></span>
          <button id="edit-button" class="hideBtn">
            <i class="bi bi-pencil-fill"></i>
          </button>
          <button id="delete-button" class="hideBtn" onclick="deleteMe(this)">
            <i class="bi bi-trash"></i>
          </button>
        </h3>
        <p id="startDateDestination"></p>
        <p id="endDateDestination"></p>
        <p id="descriptionDestination"></p>
        <img id="imgDestination" />
      </div>
    </template>
    <script src="/public/javascript/navigation.js"></script>
    <script src="../public/javascript/list-script.js"></script>
    <script src="/public/javascript/log-out.js"></script>
  </body>
</html>
