<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../public/styling/style.css" />

    <link rel="stylesheet" type="text/css" href="../public/styling/login.css" />
    <title>Log in</title>
  </head>
  <body>
    <div class="navigation">
      <section id="navigatio_buttons">
        <button id="home" class="nav">Home</button>
        <button id="signUpBtn" class="nav">Sign up</button>
        <button id="create" class="nav">Create</button>
        <button id="logInBtn" class="nav">Log in</button>
        <button id="logOutBtn" class="nav">Log out</button>
        </section>
        
        <section class="logo">
        <div class="img">
          <img src="../public/styling/images/loco.svg"/>
          </div>
          <h1>my travel journal.</h1>
        </section>
         
      </div>
    <div class="background-image">
      <section id="signInContainer">
        <form>
          <h1>Log in</h1>
          <label for="username">Username:</label>
          <input
            name="username"
            type="text"
            id="username"
            placeholder="Username"
            required
          />
          <label for="password">Password:</label>
          <input
            name="password"
            type="text"
            id="password"
            placeholder="Password"
            required
          />
          <input type="submit" value="Log in" id="logIn" />
        </form>
      </section>
    </div>
    <script src="/public/javascript/navigation.js"></script>
    <script type="module" src="../public/javascript/log-in.js"></script>
    <script src="/public/javascript/log-out.js"></script>
    <script type="module" src="../app.js"></script>
  </body>
</html>
