<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
  </head>
  <body>
    <form>
      <label for="username">Username:</label>
      <input name="username" type="text" id="username" />
      <label for="password">Password:</label>
      <input name="password" type="text" id="password" />
    </form>
    <!-- <script src="../sign-up.js"></script> -->
    <script src="../app.js"></script>
  </body>
</html>
